<launch>

    <arg name="ns" default="" />

    <param name="scan_line" type="int" value="16" />

    <param name="aloam_ns" type="string" value="$(arg ns)" />

    <!-- if 1, do mapping 10 Hz, if 2, do mapping 5 Hz. Suggest to use 1, it will adjust frequence automaticlly -->
    <param name="mapping_skip_frame" type="int" value="1" />

    <!-- remove too closed points -->
    <param name="minimum_range" type="double" value="3"/> <!--default 0.3 we used 3 before in evora-->

    <param name="map_frame" type="string" value="map3d"/> <!-- Name of the origin frame of the map-->

    <param name="odom_frame" type="string" value="odom_aloam"/> <!-- Name of the odom frame of the path estimator-->


    <param name="mapping_line_resolution" type="double" value="0.2"/>
    <param name="mapping_plane_resolution" type="double" value="0.4"/>

    <!-- <node ns="$(arg ns)" pkg="aloam_velodyne" type="ascanRegistration" name="ascanRegistration" output="screen" args="$(arg ns)"/> -->
    <node ns="$(arg ns)" pkg="aloam_velodyne" type="ascanRegistration" name="ascanRegistration" args="$(arg ns)"/>

    <!-- <node ns="$(arg ns)" pkg="aloam_velodyne" type="alaserOdometry" name="alaserOdometry" output="screen" args="$(arg ns)"/> -->
    <node ns="$(arg ns)" pkg="aloam_velodyne" type="alaserOdometry" name="alaserOdometry" args="$(arg ns)"/>

    <!-- <node ns="$(arg ns)" pkg="aloam_velodyne" type="alaserMapping" name="alaserMapping" output="screen" args="$(arg ns)"/> -->
    <node ns="$(arg ns)" pkg="aloam_velodyne" type="alaserMapping" name="alaserMapping" args="$(arg ns)"/>
   

</launch>
